html{
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.container{
    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    background-color: royalblue;
    
    
}

.screen{
    margin: 0;
    background-color: seashell;
    color: black;
    font-size: 64px;
    border-radius: 5px;
    padding: 10px;
    cursor: default;
    user-select: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    

}

.screen span {
    display: inline-block;
    width: 125px;
    text-align: center;


}

.button{
    display:flex;
    margin: 10px -5px 0;

}
 .button button{
     flex: 1;
     margin: 0 5px;
     border: none;
     font-size: 20px;
     padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color:black;
    background-color: yellow;
    outline:none;
    cursor: pointer;



 }


.button button:hover{
    color: yellow;
    background-color: rgb(35, 35, 39);
}














